<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fragments</title>
</head>
<link rel="stylesheet" href="/css/home.css">
<body>
<div th:fragment="header">
    <header>
        <div class="header-left">
            <nav>
                <h1>Stack Overflow</h1>
            </nav>
        </div>
        <form th:action="@{questions/search}" >
        <input type="text" name="keyword" placeholder="Search..." class="search-bar">
        </form>
        <div class="header-right">
            <div class="icons">
                <span th:if="${user != null}">
                    <span>🔔<strong>Notifications</strong></span>
                <a th:href="@{/users/profile/{userId}(userId=${user.id})}" style="text-decoration: none; color: inherit;">
                    👤<strong th:text="${user.username}">User</strong>
                </a>
            </span>
                <span th:if="${user == null}">
                <a th:href="@{/users/login}" style="text-decoration: none; color: inherit;">
                    👤<strong>Login</strong>
                </a>
             <a th:href="@{/users/register}" style="text-decoration: none; color: inherit;">
                    ✍️<strong>Signup</strong>
                </a>
            </span>
            </div>
        </div>
    </header>
</div>
<div th:fragment="side">
    <aside>
        <ul>
            <li><a th:href="@{/home}">🏠 Home</a></li>
            <li><a th:href="@{/questions}">❓ Questions</a></li>
            <li><a th:href="@{/tags}">🏷️ Tags</a></li>
            <li><a th:href="@{/discussion}">💬 Discussions</a></li>
        </ul>
    </aside>
</div>

<div th:fragment="footer">
    <footer>
        <p>&copy; 2024 Stack Overflow. All rights reserved.</p>
    </footer>
</div>
</body>
</html>
