<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stack Overflow Dashboard</title>
    <link rel="stylesheet" href="/css/detail.css">
    <!-- Load TinyMCE -->
    <script src="https://cdn.tiny.cloud/1/gaau6m0a748v2n5gqlr64cznmvy5oqj7bav1d68jn1114pyz/tinymce/6/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script src="/js/editor.js" defer></script>
    <script src="/js/reputationCheck.js" defer></script>

</head>
<body>
<div th:replace="fragments.html :: header"></div>

<div class="container">
    <div th:replace="fragments.html :: side"></div>

    <main>
        <div class="text-content">
            <h1 th:text="${question.title}">Question Title</h1>
        </div>
        <section class="posts">
            <div class="question-details">
                <div class="votes">

                    <form th:action="@{/questions/upvote/{id}(id=${question.id})}" class="upvoteForm">
                        <input type="hidden" class="reputationInput" th:value="${reputation}">
                        <input type="hidden" class="username" th:value="${username}">
                        <input type="hidden" class="authorname" th:value="${question.user.username}">
                        <input type="hidden" class="minReputationInput" value="10">
                        <button type="submit">▲</button>
                    </form>
                    <span th:text="${question.upvotes - question.downvotes}"></span>
                    <form th:action="@{/questions/downvote/{id}(id=${question.id})}" class="upvoteForm">
                        <input type="hidden" class="reputationInput" th:value="${reputation}">
                        <input type="hidden" class="username" th:value="${username}">
                        <input type="hidden" class="authorname" th:value="${question.user.username}">
                        <input type="hidden" class="minReputationInput" value="20">
                        <button>▼</button>
                    </form>
                </div>
                <div class="question-body">
                    <div th:utext="${question.description}"></div>
                    <div class="tags">
                        <span th:each="tag : ${question.tags}" th:text="${tag.name}"></span>
                    </div>
                    <p class="author">
                        Asked by <strong th:text="${question.user.username}"></strong>
                    </p>
                </div>
            </div>
            <div class="question-footer">
                <span><a th:if="${user != null && user.username == question.user.username}" th:href="@{/questions/edit/{id}(id=${question.id})}">Edit | </a></span>
                <span><a  th:if="${user != null && user.username == question.user.username}" th:href="@{/questions/delete/{id}(id=${question.id})}">Delete</a></span>

                <div class="comment" >

                    <form th:action="@{/questions/comment/{id}(id=${question.id})}" th:if="${user != null && user.username != question.user.username} " method="post" class="upvoteForm">
                        <input type="hidden" class="reputationInput" th:value="${reputation}">
                        <input type="hidden" class="minReputationInput" value="20">
                        <input type="hidden" class="username" th:value="${username}">
                        <input type="hidden" class="authorname" th:value="${question.user.username}">
                        <input type="text" placeholder="add comment.." name="comment" >
                        <button  >Add Comment</button>
                    </form>
                </div>
                <ul>
                    <li th:each="comment:${question.comments}" th:text="${comment.content}">1st commet</li>
                </ul>
            </div>

            <section class="answers" >
                <h2 th:text="${#lists.size(question.answers)}+' Answers'"></h2>

                <article class="answer" th:if="${answer.isAccepted}" th:each="answer:${question.answers}">
                    <h3>Accepted Answer:</h3>

                    <div class="votes">
                        <form th:action="@{/answers/upvote/{questionId}/{id}(questionId=${question.id},id=${answer.id})}" class="upvoteForm">
                            <input type="hidden" class="reputationInput" th:value="${reputation}">
                            <input type="hidden" class="username" th:value="${username}">
                            <input type="hidden" class="authorname" th:value="${answer.user.username}">
                            <input type="hidden" class="minReputationInput" value="10">
                            <button>▲</button>
                        </form>
                        <span th:text="${answer.upvotes}-${answer.downvotes}"></span>
                        <form th:action="@{/answers/downvote/{questionId}/{id}(questionId=${question.id},id=${answer.id})}" class="upvoteForm">
                            <input type="hidden" class="reputationInput" th:value="${reputation}">
                            <input type="hidden" class="username" th:value="${username}">
                            <input type="hidden" class="authorname" th:value="${answer.user.username}">
                            <input type="hidden" class="minReputationInput" value="20">
                            <button>▼</button>
                        </form>
                    </div>
                    <div class="answer-body">
                        <p th:utext="${answer.content}">
                        </p>
                        <br>

                        <button th:if="${answer.isAccepted}" class="accepted">Accepted</button>
                        <form th:if="${!answer.isAccepted && user != null && user.username == question.user.username && question.status != 'closed'}"

                              th:action="'/questions/' + ${question.id} + '/accept-answer/' + ${answer.id}"
                              method="post">
                            <button type="submit">Accept</button>
                        </form>



                        <p class="author">
                            Answered by <strong th:text="${answer.user.username}"></strong>
                        </p>
                        <div class="question-footer">
                            <!--                            <span>Edit</span> | <span>Delete</span>-->
                            <div class="comment" >
                                <form th:if="${user} != null" th:action="@{/answers/comment/{questionId}/{id}(questionId=${question.id},id=${answer.id})}" method="post" class="upvoteForm">
                                    <input type="hidden" class="reputationInput"  th:value="${reputation}">
                                    <input type="hidden" class="username" th:value="${username}">
                                    <input type="hidden" class="authorname" th:value="${answer.user.username}">
                                    <input type="hidden" class="minReputationInput" value="20">
                                    <input type="text" placeholder="add comment.." name="comment" >
                                    <button  >Add Comment</button>
                                </form>
                            </div>
                            <ul>
                                <li th:each="comment:${answer.comments}" th:text="${comment.content}"></li>
                            </ul>
                        </div>
                    </div>
                </article>

                <article class="answer" th:if="! ${answer.isAccepted}" th:each="answer:${question.answers}">

                    <div class="votes">
                        <form th:action="@{/answers/upvote/{questionId}/{id}(questionId=${question.id},id=${answer.id})}" class="upvoteForm">
                            <input type="hidden" class="reputationInput"  th:value="${reputation}">
                            <input type="hidden" class="username" th:value="${username}">
                            <input type="hidden" class="authorname" th:value="${answer.user.username}">
                            <input type="hidden" class="minReputationInput" value="10">
                            <button>▲</button>
                        </form>
                        <span th:text="${answer.upvotes}-${answer.downvotes}"></span>
                        <form th:action="@{/answers/downvote/{questionId}/{id}(questionId=${question.id},id=${answer.id})}" class="upvoteForm">
                            <input type="hidden" class="reputationInput"  th:value="${reputation}">
                            <input type="hidden" class="username" th:value="${username}">
                            <input type="hidden" class="authorname" th:value="${answer.user.username}">
                            <input type="hidden" class="minReputationInput" value="20">
                            <button>▼</button>
                        </form>
                    </div>
                    <div class="answer-body">
                        <p th:utext="${answer.content}">
                        </p>
                        <br>


                        <button th:if="${answer.isAccepted}" class="accepted">Accepted</button>
                        <form th:if="${!answer.isAccepted && user != null && user.username == question.user.username && question.status != 'closed'}"

                              th:action="'/questions/' + ${question.id} + '/accept-answer/' + ${answer.id}"
                              method="post">
                            <button type="submit">Accept</button>
                        </form>



                        <p class="author">
                            Answered by <strong th:text="${answer.user.username}"></strong>
                        </p>
                        <div class="question-footer">
                            <!--                            <span>Edit</span> | <span>Delete</span>-->
                            <div class="comment" >
                                <form th:if="${user} != null" th:action="@{/answers/comment/{questionId}/{id}(questionId=${question.id},id=${answer.id})}" method="post" class="upvoteForm">
                                    <input type="hidden" class="reputationInput"  th:value="${reputation}">
                                    <input type="hidden" class="minReputationInput" value="20">
                                    <input type="hidden" class="username" th:value="${username}">
                                    <input type="hidden" class="authorname" th:value="${answer.user.username}">
                                    <input type="text" placeholder="add comment.." name="comment" >
                                    <button  >Add Comment</button>
                                </form>
                            </div>
                            <ul>
                                <li th:each="comment:${answer.comments}" th:text="${comment.content}"></li>
                            </ul>
                        </div>
                    </div>
                </article>
            </section>
            <div class="form-group">
                <form th:if="${user != null && user.username != question.user.username}" th:action="@{/answers/save/{questionId}(questionId=${question.id})}" method="post">
                    <label for="body"><b>Add your Answer</b></label><br>
                    <textarea id="body" name="answer" rows="5" placeholder="Write your discussion here..."></textarea><br>
                    <input type="submit" value="Add answer" class="main-button">
                </form>

            </div>

        </section>

    </main>

    <aside class="widgets">
        <a th:href="@{/questions/ask}" class="main-button">Ask Questions</a>
    </aside>
</div>
<div th:replace="fragments.html :: footer"></div>
</body>
</html>